{% extends "base.html" %}

{% block title %}О нас - Мой сайт{% endblock %}

{% block site_name %}О нас{% endblock %}

{% block content %}
    <div class="row">
        {% for card in cards %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="{{ card.image }}" class="card-img-top" alt="Изображение {{ loop.index }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">{{ card.content }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
